.grid-item {
  padding: 1.1em;
}

#grid-container {
  border: 3px solid black;
  display: grid;
  margin-top: 3em;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d3d3d3;
}

#clear-btn {
  padding: 10px 10px;
  margin-top: 2em;
}