.grid-item {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#grid-container {
  background-color: #FFFFFF;
  display: grid;
  width: 500px;
  height: 500px;
  box-shadow: 1px 1px 10px 1px black;
  margin: 4em 0em 2em 0em;
}

body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d3d3d3;
  height: 100vh;
}

button {
  appearance: none;
  border-radius: 10px;
  padding: 5px 20px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.active, button:hover {
  background-color:#666;
  color: white;
}

#settings {
  display: flex;
  align-items: center;
  gap: 2.5em;
  margin: 1em 0em 2em 0em;
}

.slider-container {
  width: 50%;
}

.slider {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 12px;
  outline: none;
  opacity: 0.7;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 1px black;
  background: linear-gradient(90deg, rgb(45, 45, 45) 16%, rgb(255, 255, 255) 16%);
}

/* Range slider thumb For Google Chrome */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  background: black;
  border-radius: 50%;
  cursor: pointer;
}

.size-value {
  margin-top: 1px;
  text-align: center;
}

.circle {
  flex: 1 0 auto;
  width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 100%;
}

input[type="color"] {
  appearance: none;
  border: none;
  width: 100%;
  height: 100%;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 100%;
}