.grid-item {
  user-select: none;
}

#grid-container {
  border: 2px solid black;
  display: grid;
  margin-top: 3em;
  width: 500px;
  height: 500px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d3d3d3;
}

#clear-btn {
  padding: 10px 10px;
}

#settings {
  display: flex;
  align-items: center;
  gap: 4em;
  margin-top: 2em;
}

